<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneDrive.ApiDocumentation.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ApiDocumentationTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <OneDrive.ApiDocumentation.Windows.Properties.Settings>
            <setting name="LastOpenedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiBaseRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthScopes" serializeAs="String">
                <value>wl.signin</value>
            </setting>
            <setting name="ScenariosFile" serializeAs="String">
                <value>/internal/test-scenarios.json</value>
            </setting>
        </OneDrive.ApiDocumentation.Windows.Properties.Settings>
        <ApiDocumentationTester.Properties.Settings>
            <setting name="LastOpenedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiBaseRoot" serializeAs="String">
                <value>https://df.api.onedrive.com/v1.0</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>0000000044128B55</value>
            </setting>
            <setting name="AuthScopes" serializeAs="String">
                <value>wl.skydrive_update,wl.contacts_skydrive,wl.signin</value>
            </setting>
            <setting name="RequestParametersFile" serializeAs="String">
                <value>\internal\test-scenarios.json</value>
            </setting>
        </ApiDocumentationTester.Properties.Settings>
    </userSettings>
</configuration>